version: 2.1
orbs:
  snyk: snyk/snyk@2

jobs:
  build-test-monitor:
      docker:
        # specify the version
        - image: cimg/node:20.18

      steps:
        - checkout
        - run:
            name: "Enable Corepack / Yarn 4"
            command: |
              corepack prepare yarn@4.10.3 --activate
        - run:
            name: "Install deps"
            command: |
              corepack yarn install
        - run:
            name: "Build"
            command: |
              corepack yarn run build
        - run: corepack yarn add ms
        - run: corepack yarn remove ms
        - snyk/scan:
            fail-on-issues: true
            severity-threshold: high
            monitor-on-build: true
        - run:
            name: "Prepare for publish - Remove Backstage plugin and bump versions"
            command: |
              corepack yarn plugin remove @yarnpkg/plugin-backstage
              corepack yarn backstage-cli versions:bump --skip-install
        - run:
            name: "Publish with semantic-release"
            command: |
              corepack yarn run semantic-release
        - run:
            name: "Restore Backstage plugin for development"
            command: |
              corepack yarn plugin import https://versions.backstage.io/v1/releases/1.47.3/yarn-plugin
              corepack yarn backstage-cli versions:bump --skip-install
            when: always

  build-test:
      docker:
        # specify the version
        - image: cimg/node:20.18

      steps:
        - checkout
        - run:
            name: "Enable Corepack / Yarn 4"
            command: |
              corepack prepare yarn@4.10.3 --activate
        - run:
            name: "Install deps"
            command: |
              corepack yarn install
        - run:
            name: "Build"
            command: |
              corepack yarn run build
        - snyk/scan:
            fail-on-issues: true
            severity-threshold: high
            monitor-on-build: false

workflows:
  version: 2.1
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - build-test-monitor:
          context: 
            - SNYK
            - BACKSTAGE_SNYK_PLUGIN
  build-test-monitor-publish:
    jobs:
      - build-test-monitor:
          context: 
            - SNYK
            - BACKSTAGE_SNYK_PLUGIN
          filters:
            branches:
              only:
                  - main
  build-test:
      jobs:
        - build-test:
            context: 
              - SNYK
              - BACKSTAGE_SNYK_PLUGIN
            filters:
              branches:
                ignore:
                  - main
